*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    max-width: 1440px;
    background-image:url(desktop.png);
    background-color: hsl(0, 100%, 74%) ;
    background-repeat: no-repeat;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    font-size: 400;
}
@media(max-width: 375px){
    body{
        background-image: url(mobile.png);
        background-color: hsl(0, 100%, 74%);
        background-size: cover;
        background-position: center;
    }
}
.container{
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: space-around;
}

.text{
    color: white;
}
h1{
   font-weight: 700;
}
@media(max-width: 375px){
    h1{
        padding-top: .5em;
        padding-bottom: .5em;
    }
    .text p{
        padding-bottom: .5em;
    }
    .container{
        display: block;
        padding: 1em;
    }
    .text{
        text-align: center;
        padding: 1em 0;
    }
}
.head{
    padding-bottom: 1em;
}
.head p{
    background-color: hsl(248, 32%, 49%);
    width: 100%;
    text-align: center;
    border-radius: 5px;
    padding: .5em 0;
    box-shadow: 0 4px 7px hsl(249, 10%, 26%) ;
    color: white;
}
 span{
    font-weight: 500;
}
.main{
    background-color: white;
    border-radius: 5px;
    text-align: center;
    padding: 1em;
    box-shadow: 0 4px 7px hsl(249, 10%, 26%) ;
    width: 100%;
    height: auto;
}
input{
    width:100%;
    padding: 1em .5em;
    border-radius: 5px;
    margin-bottom: 1em;
    border: 1px solid hsl(246, 25%, 77%);
}
::placeholder{
    font-weight: 600;
}

@media(max-width: 375px){
    .head p{
        padding: 1em 3em;
    }
}
button{
    width: 100%;
    padding: 1em 0;
    background-color: hsl(154, 59%, 51%);
    border: none;
    border-radius: 5px;
    box-shadow: 0 4px 7px hsl(249, 10%, 26%) ;
    color: white;
    margin-bottom: 1em;
    font-weight: 500;
}
.main p span{
    color: hsl(0, 100%, 74%)
}


